<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
</head>
<body>
<h1>List of Users</h1>
<table>
    <tr>
        <th>First_Name</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:utext="${user.firstName}">first_name</td>
        <td th:utext="${user.age}">age</td>
        <td>
            <button th:onclick="location.href='http://localhost:8080/admin/users/new?id=[[${user.id}]]'">
                Edit
            </button>
            <form th:action="@{/admin/users/delete}" method="post" style="display: inline-block;">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<button th:onclick="location.href='http://localhost:8080/admin/users/new'">
    Add
</button>
<br><br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>