<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td th:text="${user.firstName}">first_name</td>
        <td th:text="${user.age}">age</td>
    </tr>

</table>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>
<br><br>

</body>
</html>